h3, h4{
    color: #666;
    padding-left: 1em;
}
p{
    padding: 1em !important;
    color: #666 !important;
}

.status-icon{
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 5px 5px 0 0;
    
    &.on{
        background: green;
    }
    &.off{
        background: red;
    }
}