html,
body,
ion-content {
  --background: transparent !important;
}

/* hack to fix longpress and scroll */
ion-img {
  display: block;
  touch-action: pan-y !important;
}


.gallery-layout {
  background-color: #f9f9f9 !important;
  overflow: auto;
  padding-bottom: 50px;
  display: block;
  ion-button {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.selected {
  border: 2px solid #05DA67;
  box-shadow: -1px -4px 9px -1px rgba(85, 84, 84, 0.5);
}

.col-style {

  max-width: 80% !important;
}

.select-image {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  padding: 4px;
  text-align: center;
  border-radius: 17px;
  background: white;
  position: absolute;
  right: 12px;
  bottom: 12px;
  border: thin solid #fff;
  color: white !important;
  box-shadow: inset 0 0 10px #666;
}

.selected+.select-image {
  transition: 0.2s all ease-in-out;
  background: #05DA67;
  box-shadow: none !important;
}

.body-text {
  color: #666;
  padding: 3px;
}

.photo-details {
  display: block;
  position: absolute;
  box-sizing: border-box;
  background: rgba(21, 87, 36, 0.9);
  opacity: 1;
  max-height: 30px;
  width: 92%;
  z-index: 9;
  top: 5px;
  color: white;

  p {
    font-size: 0.8em;
    margin-top: 0px;
    padding: 5px
  }
}

.sent-notifier {
  background: #155724;
  opacity: 0.8;
  width: 85%;
  position: absolute;
  top: 25%;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid white;
  color: white !important;
  font-weight: bold !important;
  z-index: 9;
  font-size: 0.9em;
}

.my-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: 100%;

  .overlay-details {
    background-color: white;
    margin-top: -20px;
    padding: 10px;
  }

  .overlay-image {
    width: 90%;
    height: 90%;
    margin-top: 50px;
  }

  #close-overlay {
    position: absolute;
    top: 10px;
    right: 0px;
    color: white;
    font-size: 2em;
    z-index: 9999;
  }

  .fp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;
  }

  .button-details {
    font-weight: bold;
    font-size: large;
    color: white;
    width: 250px;
    text-transform: none;
  }
}