<ion-header [translucent]="true" padding>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHerf="home"></ion-back-button>
    </ion-buttons> -->
    <ion-title>
      {{ 'Gallery.Title' | translate }}
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="playAudio()">
        <ion-icon name="{{playing ? 'volume-mute' : 'volume-high'}}"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteBatch()" [hidden]="photoService.selectedPhotos.length == 0">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="my-overlay" [hidden]="overlayHidden">
  <ion-button (click)="hideOverlay()" id="close-overlay" fill="transparent">
    <ion-icon name="close-sharp"></ion-icon>
  </ion-button>
  <pinch-zoom>
    <ion-img class="overlay-image" src="{{base64 ? base64 : webviewPath}}"></ion-img>
  </pinch-zoom>
  <div class="overlay-details">
    <p><strong>{{ 'PhotoDetails.ParcelId' | translate }}: </strong>{{parcel}}</p>
    <p><strong>{{ 'PhotoDetails.Timestamp' | translate }}: </strong>{{dateTaken | date :'dd-MM-yyyy hh:mm:ss aa'}}</p>
    <p><strong>{{ 'PhotoDetails.Status' | translate }}: </strong>{{ status ? received : not }}</p>
    <p><strong>{{ 'PhotoDetails.Scheme' | translate }}: </strong>{{scheme}}</p>
    <div class="fp-button">
      <ion-button class="button-details" expand="block" (click)="sendData()" [hidden]="status">
        <ion-icon slot="start" name="send"></ion-icon>{{ 'Gallery.Single' | translate }}
      </ion-button>
    </div>
  </div>
</div>
<ion-content [fullscreen]="true">

  <div class="gallery-layout">
    <ion-searchbar
      placeholder="{{ 'PhotoDetails.ParcelId' | translate }} / {{ 'Gallery.Date' | translate }} / {{'PhotoDetails.Scheme' | translate }}"
      (ionChange)="search($event.target.value)" [(ngModel)]="searchData" debounce="250" animated></ion-searchbar>
    <ion-button (click)="sendData()" expand="full" color="primary" [disabled]="photoService.selectedPhotos.length == 0">
      <ion-icon slot="start" name="send"></ion-icon>
      {{ 'Gallery.Selected' | translate }}
    </ion-button>
    <ion-grid>
      <ion-row *ngIf="photoService.photos.length > 0; else elseCol">
        <ion-col size="4" *ngFor="let photo of photoService.galleryPhotos; index as position" class="col-style">

          <ion-img ion-long-press [interval]="400" src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"
            (longPressed)="showActionSheet(photo, position)" (click)="this.photoService.selectPicture(photo, position)"
            [ngClass]="{selected: photo.selected}">
          </ion-img>
          <div class='select-image'>
            <ion-icon name="checkmark-sharp"></ion-icon>
          </div>
          <div class="photo-details">
            <p *ngIf="photo.pictureDetails.requestId; else somethingElse" style="text-align: center;">
              <strong>{{ (photo.pictureDetails.parcelId.length>13) ? (photo.pictureDetails.parcelId | slice:0:12) +
                '...' : (photo.pictureDetails.parcelId) }}</strong>
            </p>
            <ng-template #somethingElse>
              <p>{{ 'Gallery.NoRequest' | translate }}</p>
            </ng-template>
          </div>
          <div class='sent-notifier' *ngIf="photo.pictureDetails.sent === true">
            <p>
              <ion-icon slot="start" name="send"></ion-icon> {{ 'Gallery.Sent' | translate }}
            </p>
          </div>

        </ion-col>
      </ion-row>
      <ng-template #elseCol>
        <ion-col size="12">
          <p class="body-text">{{ 'Gallery.Empty' | translate }}</p>
        </ion-col>
      </ng-template>
    </ion-grid>

    <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" id="capture">
      <ion-fab-button (click)="arCameraService.openCamera()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </div>


</ion-content>