.settings-card{
    background: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 0px 6px 1px rgba(102,102,102,0.57);
    color: #666;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    margin: 1em 0;

    ion-toggle{
       margin-left: auto;
       --handle-background: #ededed;

    }
}
.small-text{
    font-size: 0.8em;
    font-style: italic;
    color: #666;
}