.land-parcel{
    border: 2px solid white;
    border-radius: 10px;
    background: white;
    color: #666;
    &-image{
        overflow: hidden;
        max-height: 120px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &-content{
        padding: 10px;
    }
    ion-button{
        margin: 0px !important;
        border-bottom-left-radius: 10px;

    }
}