<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="requests">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'Tabs.Home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gallery">
      <ion-icon name="camera"></ion-icon>
      <ion-label>{{ 'Tabs.Photos' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="land-parcels" *ngIf=" type == 'INDIVIDUAL' ">
      <ion-icon name="map"></ion-icon>
      <ion-label>{{ 'Tabs.Parcels' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schemes">
      <ion-icon name="cash"></ion-icon>
      <ion-label>{{ 'Tabs.Schemes' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>