<ion-header>
  <ion-toolbar>
    <ion-title>{{'Schemes.Title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="types.length > 0; else elseCol">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="schemes" *ngFor="let type of types; let i = index">
          <div class="schemebutton">
            <ion-button class="send" color="primary" (click)="goToScheme(type.owner)" >
              <ion-icon class="icon" name={{type.details.icon}}></ion-icon>
            </ion-button>
            <p>{{type.details.display}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #elseCol>
    <ion-col size="12">
      <div class="ion-text-wrap">
        <p class="body-text"> {{'Schemes.Empty' | translate }}</p>
      </div>
    </ion-col>
  </ng-template> 
</ion-content>
