.schemebutton{
  margin: 10px;
  display: block;
  ion-button{
    --border-radius: 20px!important;
    min-height: 60px;
    width: 100%;
    text-align: center;
  }
  ion-icon{
    font-size: 3em;
  }
  p{
    text-align: center;
    font-weight: bold;
  }
}

.body-text{
  color: #666;
  padding: 20px;
}
