<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Camera</ion-title>
    <!-- <ion-buttons *ngIf="!reap" slot="end">
      <ion-button (click)="hideFrame()">
        <p class="markerStatus">{{markerStatus}}</p>
        <ion-icon name="location-sharp"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <h2>Active: {{arCameraService.cameraActive}}</h2> -->
  <div *ngIf="arCameraService.cameraActive" id="cameraPreview" class="cameraPreview">
    <!-- IFrame needed for AR component  -->
    <!-- <iframe id="ArFrame" *ngIf="!reap" [src]="ARUrl | safe"
      sandbox="allow-scripts allow-top-navigation allow-pointer-lock allow-same-origin allow-popups"
      onload="this.width=screen.width;this.height=screen.height;" #ArFrame>
    </iframe> -->
    <div class="camera-controls" *ngIf="reap; else elseBlock">
      <ion-button (click)="addtoGallery()" id="take-image" fill="transparent">
        <ion-icon name="camera-sharp"></ion-icon>
      </ion-button>
    </div>
    <ng-template #elseBlock>
      <div class="camera-controls" [hidden]="!location.contain">
        <ion-button (click)="addtoGallery()" id="take-image" fill="transparent">
          <ion-icon name="camera-sharp"></ion-icon>
        </ion-button>
      </div>
      <div class="camera-controls" [hidden]="location.contain">
        <p id="contain-text">{{contains}}</p>
      </div>
    </ng-template>
    <!-- <div class="camera-controls" [hidden]="!location.contain"> -->
    <!-- <div class="camera-controls">
      <ion-button (click)="addtoGallery()" id="take-image" fill="transparent">
        <ion-icon name="camera-sharp"></ion-icon>
      </ion-button>
    </div> -->
    <!-- <div class="camera-controls" [hidden]="location.contain">
      <p id="contain-text">{{contains}}</p>
    </div>
 -->
  </div>
</ion-content>