<ion-header [translucent]="true" padding>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="playAudio()">
        <ion-icon name="{{playing ? 'volume-mute' : 'volume-high'}}"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='permission-notifier' *ngIf="!permission">
    <p class="not">
      {{ 'Map.Permission' | translate}}</p>
  </div>
  <div id="map" style="height:85%;" #map></div>
  <div class="picture-button-container" [ngClass]="{'visible': closeEnough >= 1 || isInField >= 1}">
    <ion-button expand="full" color="primary" class="take-picture-button" (click)="goToCamera(notification.hash)">
      <ion-icon slot="start" name="camera"></ion-icon>
      {{'LandParcel.TakeImage' | translate}}
    </ion-button>
    <ng-template #polyTopButton>
      <ion-button fill="solid" color="teritary" class="take-picture-button" (click)="goToCamera(notification.hash)">
        <ion-icon slot="start" name="camera"></ion-icon>
        {{'LandParcel.TakeImage' | translate}}
      </ion-button>
    </ng-template>
  </div>
</ion-content>
<ion-bottom-drawer [minimumHeight]=100 [dockedHeight]=350 [shouldBounce]=true [distanceTop]=50>
  <div class="drawer-content">
    <div class="pullUp"></div>
    <div id="main-drawer-content">
      <div class='parcel-notifier' *ngIf='!notification.point else PointInfo'>
        <p *ngIf='isInField >= 1; else elseDiv' class='in-parcel'>
          {{ 'LandParcel.Inside' | translate }} {{notification.label}}
        </p>
        <ng-template #elseDiv>
          <p class="not-in-parcel" translate [translateParams]="{landParcel: notification.label }">
            LandParcel.PleaseVisit</p>
        </ng-template>
      </div>
      <ng-template #PointInfo>
        <div class='parcel-notifier'>
          <p *ngIf='closeEnough >= 1; else elseCloser' class='in-parcel'>

            {{'LandParcel.LessThan10' | translate}} {{notification.label}}
          </p>
          <ng-template #elseCloser>

            <p class="not-in-parcel" translate [translateParams]="{distance: notification.distance}">
              LandParcel.MoveCloser </p>
          </ng-template>
        </div>
      </ng-template>

      <!-- <ion-button *ngIf="notification.point" expand="full" color="secondary" (click)="openMapsApp()"> -->
      <ion-button expand="full" color="secondary" (click)="openMapsApp()" [disabled]='!permission'>
        <ion-icon slot="start" name="navigate"></ion-icon>
        {{ 'LandParcel.GetDirections' | translate}}
      </ion-button>
      <h3><strong>{{ 'LandParcel.Name' | translate}}&nbsp; </strong> {{notification.label}}</h3>
      <div *ngIf="notification.comment !== undefined">
        <p><strong>{{ 'LandParcel.Description' | translate}}&nbsp; </strong>{{notification.comment}}</p>
      </div>
      <ion-row>
        <ion-col col-12 *ngIf="notification.point else polyButton">
          <ion-button expand="full" color="primary" (click)="goToCamera(notification.hash)">
            <ion-icon slot="start" name="camera"></ion-icon>
            {{'LandParcel.TakeImage' | translate}}
          </ion-button>
        </ion-col>
        <ng-template #polyButton>
          <ion-col col-12>
            <ion-button expand="full" color="primary" (click)="goToCamera(notification.hash)"
              [disabled]='isInField < 1 || !permission'>
              <ion-icon slot="start" name="camera"></ion-icon>
              {{'LandParcel.TakeImage' | translate}}
            </ion-button>
          </ion-col>
        </ng-template>
        <ion-col col-12>
          <span class='info-message'> {{ 'LandParcel.UpdateMessage' | translate }}</span>
          <ion-button expand="full" color="secondary" (click)="watchDeviceLocation(true)" [disabled]='!permission'>
            <ion-icon slot="start" name="compass-outline"></ion-icon>
            {{ 'LandParcel.UpdateLocation' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-button (click)="single_notification()">
        Single Notification
      </ion-button> -->
      <div *ngIf="android">
        <h4>{{ 'LandParcel.Sat' | translate}}</h4>
        <ion-row class='satelite-info'>

          <ion-col col-6>
            <p>
              <span [ngClass]="(locationService.photoDetails.isGal)?'on':'off'" class='status-icon'></span><span>{{
                'LandParcel.Galileo' | translate}}</span>
            </p>
            <p>
              <span [ngClass]="(locationService.photoDetails.isBei)?'on':'off'" class='status-icon'></span><span>{{
                'LandParcel.Beidou' | translate}}</span>
            </p>
            <p>
              <span [ngClass]="(locationService.photoDetails.isGlo)?'on':'off'" class='status-icon'></span><span>{{
                'LandParcel.Glonass' | translate}}</span>
            </p>
            <p>
              <span [ngClass]="(locationService.photoDetails.isGps)?'on':'off'" class='status-icon'></span><span>{{
                'LandParcel.Gps' | translate}}</span>
            </p>
          </ion-col>
          <ion-col col-6>
            <p>
              <span [ngClass]="(locationService.photoDetails.isQzss)?'on':'off'" class='status-icon'></span><span>{{
                'LandParcel.Qzss' | translate}}</span>
            </p>
            <p>
              <span [ngClass]="(locationService.photoDetails.isSbas)?'on':'off'" class='status-icon'></span><span>{{
                'LandParcel.Sbas' | translate}}</span>
            </p>
            <p>
              <span [ngClass]="(locationService.photoDetails.isDual)?'on':'off'" class='status-icon'></span>
              <span>{{ 'LandParcel.Dual' | translate}}</span>
            </p>
            <p>
              <span [ngClass]="(locationService.photoDetails.isOsnma)?'on':'off'" class='status-icon'></span>
              <span>{{ 'LandParcel.Osnma' | translate}}</span>
            </p>
          </ion-col>

        </ion-row>
      </div>

    </div>
  </div>
</ion-bottom-drawer>