ion-bottom-drawer { 
    box-shadow: rgba(184, 184, 184, 0.4) 0 -5px 5px -5px !important;
    border-radius: 15px !important;
    background: white !important;
    --background: white !important;
    ion-content{
        background: white !important;
        --background: white;
    }
    #main-drawer-content{
        color: #666;
        padding: 1em;
        position: relative;
        z-index: 999;
        // background: white;
    }
    }
    .pullUp{
        background: #A5AFBD;
        width: 50%;
        margin-left: 25%;
        border-radius: 5px;
        height: 5px;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .content{
        color: #666!important;
    }

    .parcel-notifier{
        width: 100%;
        display: flex;
        p{
            padding: 0.5em;
            //color: #666;
            width: 100% !important;
            text-align: center;
            border: 2px solid;

        }
        .in-parcel{
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }
        .not-in-parcel{
            color: #856404;
            background-color: #fff3cd;
            border-color: #ffeeba
        }
    }

    .info-message{
        font-style: italic;
        font-size: 0.8em;
        color: #666;
    }

    .status-icon{
        display: inline-block;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        margin: 5px 5px 0 0;
        border: thin solid #ededed;
        
        &.on{
            background: green;
        }
        &.off{
            background: red;
        }
    }

    .satelite-info{
        background: #f0eded;
        max-height: 150px;
        overflow: hidden;
        overflow-y: scroll;
        box-sizing: border-box;
        padding: 5px;
        border: 2px solid #d5d5d5;
        &::-webkit-scrollbar {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
    }
#map{
    z-index: 10;
}
.leaflet-save-button{
    width: 60px !important;
    height: 60px !important;
}
.picture-button-container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 10px;
    max-width: 50%;
    z-index: 11;
    display:none;
    opacity: 0;
    &.visible{
        opacity: 1;
        display: block;
        transition: all 0.3s ease-in-out;
        opacity: 0.9;
    }
}

.permission-notifier{
    width: 100%;
    display: flex;
    p{
        padding: 0.5em;
        //color: #666;
        width: 100% !important;
        text-align: center;
        border: 2px solid;

    }
    .not{
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba
    }
}