<ion-content class="login" padding class="dark-bg">
  <ion-content class="ion-padding">
    <div class="audio" align="right">
      <ion-button (click)="playAudio()" color="secondary">
        <ion-icon name="{{playing ? 'volume-mute' : 'volume-high'}}"></ion-icon>
      </ion-button>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-12 class='login-container'>
          <img src="../../../assets/images/geotag-logo.png" />
          <h1>AgriSnap</h1>
          <p>Click Login to access the Department of Agriculture and Marine. <br />(Opens a new window)</p>
          <ion-item class='checkbox' *ngIf="!auth.acceptTerms.isChecked" lines="none">
            <ion-label>I agree to the <a routerLink="/terms-and-conditions/">Terms and
                Conditions</a></ion-label>
            <ion-checkbox slot="start" color="secondary" style="--border-color:white;" (ionChange)="checkTerms($event)" [checked]="auth.acceptTerms.isChecked">
            </ion-checkbox>
          </ion-item>
          <ion-button type="button" color="secondary" expand="block" (click)="login()" [disabled]="!TermsValue"> Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="dafm-logo">
          <img src="../../../assets/images/dafm-logo.svg" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="niva-logo">
          <div>
            <p>Powered By: </p>
          </div>
          <div>
            <img src="../../../assets/images/niva_logo.png" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>