.login-container {
    width: 60%;
    height: 60%;
    margin-top: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    h1{
        color: white !important
    }
    p{
        color: white !important;
        font-size: 0.9em;
    }
}
.ios{
    .audio{
    margin-top: 20px;
    }
}
.dark-bg{
    --ion-background-color: #004D44 !important;
}
.ion-color-secondary{
    --ion-color-secondary: #A39161;
}
.dafm-logo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;

}
.niva-logo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    p{
        padding-right: 20px;
    }
    div{
        img{
            max-width: 100px;
        }
    }
}

ion-item.checkbox{
    color: white !important;
    --background: $niva-green !important;
    a{
        color: #fff !important;
    }
}