.login-container {
    width: 60%;
    height: 60%;
    margin-top: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    h1{
        color: white !important
    }
    p{
        color: white !important;
        font-size: 0.9em;
    }
}
.dark-bg{
    --ion-background-color: #004D44 !important;
}
.ion-color-secondary{
    --ion-color-secondary: #A39161;
}
.dafm-logo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;

}

ion-col p{
    color: #666 !important;
    --color: #666 !important;
}

form.digit-form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    ion-input{
        display: inline-block;
        //max-width: 2em;
        margin: 10px;
        background-color: white;
        padding: 10px;
        font-size: 1.5em;
        color: #666;
        text-transform: uppercase;
    }
}
.error-message{
    margin: 10px 0;
    width: 100%;
    display: flex;
    padding: 0.2em;
    background-color: #fff3cd;
    border: 2px solid #856404;
    p{
        color: #856404 !important;
        width: 100% !important;
        text-align: center;
    }
}
ion-item.checkbox{
    color: white !important;
    --background: $niva-green !important;
    border: thin solid #fff;
    a{
        color: #fff !important;
    }
}