ion-header{
    overflow: hidden;
    ion-toolbar{
        --background: #004D44;
        color: white !important;
        //--background: $niva-green;
        svg{
            fill: white !important;
        }
        ion-icon{
            color: white !important;
        }
    }
}

ion-tab-bar{
    border-top: 1px solid #ededed;
    ion-tab-button{
        //color: red;
        &.tab-selected, &:hover{
          color: $niva-green;  
        }
    }
}
ion-back-button{
    display: block !important;
    color: white !important;
}