/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~leaflet/dist/leaflet.css";

/* Global Toast Styles */
.custom-toast{
    --color:#155724 !important;
    --border-color:#155724 !important;
    --border-radius: 6px !important;
    --border-style:solid !important;
    --border-width:3px !important;    
    --background:#ffffff !important;
    --button-color:#155724 !important;
    font-size: 1.1em !important;
    padding: 15px 5px !important;
    font-weight: 500 !important;
  }
  .custom-toast-warning{
    --color:#856404 !important;
    --border-color:#856404 !important;
    --border-radius: 6px !important;
    --border-style:solid !important;
    --border-width:3px !important;    
    --background:#ffffff !important;
    --button-color:#856404 !important;
    font-size: 1.1em !important;
    padding: 15px 5px !important;
    font-weight: 500 !important;
  }
  ion-tab-bar{
    --background: white !important;
    background: white !important;
  }
  .new-background{
    --background: #f6f6f6;
    background-color: #f6f6f6;
  }

  /*
 * This adds a scroll bar to ionic alerts
 */
.alert-radio-group::-webkit-scrollbar, .alert-checkbox-group::-webkit-scrollbar {
  width: 0.7em;
  display: block !important;
}

.alert-radio-group::-webkit-scrollbar-track, .alert-checkbox-group::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.alert-radio-group::-webkit-scrollbar-thumb, .alert-checkbox-group::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

// Applies a text wrap on ion options
.alert-tappable.alert-radio {
  height: auto;
  contain: content;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
  white-space: normal;
}